/* Brand Style Sheet for Colour
ORANGE: R-223 G-72 B-37
DARK GREY: R-65 G-64 B-66
*/

body {
    font-family: 'Open Sans', sans-serif;
}
  
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #D4D4D5;
}

p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

div .carousel-inner {
    font-family: 'Open Sans', sans-serif;
}

#instagram {
    justify-content: space-around;
    align-content: space-around;
}

.orange {
    background-image: linear-gradient(#B32F10, #df4825,#E77054 );
   
}

.darkOrange {
    background-color: #B32F10;
}

.darkGrey {
    background-color: #414042;
    border-color:  #414042;
    color: white;
}

.lightGrey {
    background-color: #817F83;
    color: white;    
}

a {
    color: #df4825;
}

a:hover, .btn:hover {
    color: #df4825;
}

.btn {
    color: #df4825;
    font-size: 20px; 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #df4825;
}